@model BookReview.Models.SearchResultsViewModel
<h2>Search results for "@Model.Query"</h2>

<h3>Books</h3>
<table class="table">
    <thead>
        <tr><th>Title</th><th>Genre</th><th>Author</th></tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Genre</td>
                <td>@book.Author?.FullName</td>
            </tr>
        }
    </tbody>
</table>

<h3>Authors</h3>
<table class="table">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
        @foreach (var author in Model.Authors)
        {
            <tr>
                <td>@author.FullName</td>
            </tr>
        }
    </tbody>
</table>